$color-white: #faebd7;
$color-grey: #666;
$color-dark: #222;
$color-lightDark: #333;
$highlight: #BABA45;
$highlight-secondary: red;
$footer-height: 7rem;
$search-bar-height: 5rem;
$leftPanels-width: 50rem;
$searchMargin-top: 20rem;
$searchMargin-left: 1rem;
$font-normal: 'Lato', sans-serif;
$font-fancy: 'MedievalSharp', cursive;