$color-white: #faebd7;
$color-grey: #666;
$color-darkest: #111;
$color-dark: #222;
$color-lightDark: #333;
$highlight: #BABA45;
$highlight-secondary: red;
$footer-height: 8rem;
$search-bar-height: 6rem;
$panel-argin: 2.4rem;
$toggleLayerPanel-buttonWidth: 4rem;
$leftPanels-width: 50rem;
$font-normal: 'Lato', sans-serif;
$font-fancy: 'MedievalSharp', cursive;